

  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600;700&family=DM+Sans:wght@400;500&family=Koulen&family=Montserrat:wght@200;500;600&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@200;300;400;500;600&family=Yuji+Boku&display=swap');
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --red:#d63a25;
    --white:#fff;
    --dark:#1e1c2a;
}

body{
    color: var(--dark);
    background: var(--white);
    
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 40px;
    box-shadow: 0 0.1rem 0.5rem;
    color:#d63a25;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: fixed;
}

.navigation .logo{
    color: var(--red);
    font-size: 1.95rem;
    font-weight:bolder;
    
    font-family: 'Caveat', cursiva;
    letter-spacing: 0.15rem;
}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover {
    color: var(--red);
}

.navigation i {
    cursor: pointer;
    font-size: 1.5rem;
} 

.menu {
    cursor: pointer;
    display: none;
}
.menu .bar {
     display: block;
     width: 28px;
     height: 3px;
     border-radius: 3px;
     background-color: var(--dark);
     margin: 5px auto;
     transition: all 0.3s;
}



.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
}

.home-text{
    max-width: 37rem;
}

.home-text .text-h4{
    font-size: 1.5rem;
    color: var(--red);
    margin-bottom: 1rem;
}

.home-text .text-h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    line-height: 3.25rem;
}

.btn-home{
    padding: 15px 45px;
    background: var(--red);
    border-radius: 10px;
    color: var(--white);
    font-weight: 500;
    transition: all 0.5s;
}

.btn-home:hover{
    background: var(--dark);
    
}

.home-text p {
    margin-bottom: 2rem;
}

.home-img:hover img{
    width: 100%;
    transform:scale(1.05);

}

.text-festival h1{
    font-family: 'Caveat', cursiva;
    float:right;
    padding: 0 5rem;
    color:var(--dark);
    font-size: 3.45rem;
    text-align:center;
    margin-right: 5rem;
    margin-top: 4rem;   
    letter-spacing: 2px;
    
}

.text-festival span{
    color: #d63a25;
    font-family: 'Caveat', cursiva;
}


.festival-burger img{
    border-radius: 2rem;
    margin-left: 2rem;
    
}


.location iframe{
 width: 100%;
 margin-top: 5rem;
 border: solid 2px;

}

 


@media (max-width:785px){
   
  .navigation .logo{
   
    font-size: 22px;
   }
   
    .navigation{
    padding: 18px 20px;
    
   }
     
   .menu{
    display: block;
   }
  
   .menu.ativo .bar:nth-child(1){
    transform: translateY(8px) rotate(45deg);
   }
   .menu.ativo .bar:nth-child(2){
    opacity: 0;
   }

   .menu.ativo .bar:nth-child(3){
    transform:  translateY(-8px) rotate(-45deg);
   }

   .nav-menu{
    position: fixed;
    right: -100%;
    top: 70px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--white);
    gap: -10px;
    transition: all 0.3s;

  }

  .nav-menu.ativo{
    right: 0;
  }
     
  .nav-item{
    margin: 16px 0;
  }

/*-------MAIN-------*/

.home{
    padding: 100px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 2rem;
}

.home .text-h4{
    font-size: 19px;
    margin-top: 1.25rem;
}
.home .text-h1{
    font-size: 2.5rem;
    line-height: 3rem;
}

.home p{
    font-size: 15px;
}

.home-img{
    width: 155%;  
}
.navigation .nav-menu{
    background-color: #030303a7;
    backdrop-filter: blur(7px);
    
}

.navigation .nav-menu a{
    color: var(--white);
    text-align: center;
    justify-content: center;
}
.nav-menu li {
    margin-top: 5rem;
    
}

.festival-burger img{
    
   padding: 0;
   
   width: 360px; 
   
}

.text-festival h1 {
    margin: 0;
    font-size: 32px;
    text-align: center;
    justify-content: center;
    margin-bottom: 2rem;
    
  
    
}














}